<div class= 'davidbox'>
  <h1 class= 'subtext'>Producer, writer and actor Larry David (known for all things funny)</h1>
  <h3 class = 'subtext'>wrote for Saturday Night Live, wrote and produced the sitcom Seinfeld and created HBO's Curb Your Enthusiasm.</h3>
</div>
