<h1 class='contactus'>Contact us!</h1>
<h3 class= 'larryintro'>Shoot us an email. We would love to hear from you! We are a cult and will glady take your money! Unfortunately our developer doesn't know much about e-commerce so we are going to have to have to take your money via e-mail.</h3>

<section class='contactus'>
<div class='contactus'><input type='text' placeholder='Your Name'></div>
<div class='contactus'><input type='text' placeholder='Your Phone Number'></div>
<div class='contactus'><input type='text' placeholder='Your Email'></div>
<div class='contactus'><input type='text' placeholder='Your message'></div>
<button>Submit</button>
</section>
