<h1 class ='center'> Larry David</h1>

<h1 class ='center'>Common Larry David quotes</h1>
<div class= 'davidbox'>
<ul class= 'quotes'>
  <li>Larry: I love this dog, it's not very often you get the chance to be affectionate to something german.</li>
  <li>Larry (to Krazee-Eyez Killa): Are you my Caucasian?</li>
  <li>Larry: I feel like an idiot holding this skewer.</li>
  <li>Larry: ...And how about that hygienist. It's like if you go to a prostitute, and the prostitute goes around and tells everybody that you got a small penis. Not that I've ever been to a prostitute... not that I have a small penis.
</li>
  <li>Larry: Can I tell you something about apricots? ... 1 in 30 is a good one. It's such a low percentage fruit.</li>
  <li>Larry: I'd rather have the thieves than the neighbors - the thieves don't impose. Thieves just want your things, neighbors want your time.
</li>
  <li>Larry: You're nothing without your health. Some people are nothing even with their health. I fall in that category, sometimes.</li>
  <li>Larry: I'm Larry David. I happen to enjoy wearing women's panties.
</li>
</ul>
</div>
